<menu-banner>
    <!-- <mat-icon>person</mat-icon> -->
    Hi, {{user?.username ?? "?"}}!
</menu-banner>

<div class="center-content">
    <div class="toolbox">
        <mat-card *ngIf="user" appearance="outlined">
            <mat-card-header>
                <h4>Change password</h4>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field subscriptSizing="dynamic" class="input-form">
                    <mat-label>Old password</mat-label>
                    <input #oldPassword matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="password">
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" class="input-form">
                    <mat-label>New password</mat-label>
                    <input #newPassword matInput [type]="hidePassword ? 'password' : 'text'" autocomplete="password">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-stroked-button
                    (click)="changePassword(oldPassword.value, newPassword.value)">Change</button>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="user" appearance="outlined">
            <mat-card-header>
                <h4>Logout</h4>
            </mat-card-header>
            <mat-card-content>
                <button mat-stroked-button (click)="logout()" matTooltip="Logout" class="logout-button" type="button">
                    Logout
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
    <section *ngIf="user != null">
        <h4>Account information</h4>
        <table>
            <tr>
                <td>Username</td>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{user.email || "(unknown)"}}</td>
            </tr>
        </table>
    </section>
</div>