<div class="toolbox">

  <mat-card appearance="outlined">
    <mat-card-content matTooltip="Enter a string to filter the codes displayed in the table by code name or tag.">
      <mat-form-field>
        <mat-label>Filter {{numCodes(vocabularyId)}} codes</mat-label>
        <input matInput [(ngModel)]="codesFilter" placeholder="">
        <button mat-icon-button matSuffix (click)="codesFilter = ''">
          <mat-icon>backspace</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      Coding system
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button [matMenuTriggerFor]="menu">
        {{vocabularyId}}@if (isCustom(vocabularyId)) {
        *
      }
      <mat-icon fontIcon="expand_more"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @for (vocId of vocabularyIds; track vocId) {
        <button (click)="selectVocabulary(vocId)" mat-menu-item>
          {{vocId}}@if (isCustom(vocId)) {
          *
        }
      </button>
    }
  </mat-menu>
</mat-card-actions>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    {{selected.length}} selected code{{selected.length == 1 ? '' : 's'}}
  </mat-card-header>
  <mat-card-actions>
    <button mat-stroked-button (click)="editTags(selected)" [disabled]="selected.length == 0 || !userCanEdit">Tag</button>
    <button mat-stroked-button (click)="enableCodes(selected)"
    [disabled]="selected.length == 0 || !userCanEdit">Enable</button>
    <button mat-stroked-button (click)="disableCodes(selected)"
    [disabled]="selected.length == 0 || !userCanEdit">Disable</button>
    <button mat-stroked-button (click)="showDescendants(selected)"
    [disabled]="selected.length == 0">Descendants</button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined" class="custom-codes-operations">
  <mat-card-header>
    Custom codes
  </mat-card-header>
  <mat-card-actions>
    <!-- <button mat-stroked-button color="primary" (click)="selectAllCustomCodes()">Select</button> -->
    @if (false) {
      <button mat-stroked-button (click)="importCustomCodeDialog()" matTooltip="TODO">Import</button>
    }
    <button mat-stroked-button (click)="addCustomCodeDialog()" [disabled]="!userCanEdit">Create</button>
    <button mat-stroked-button (click)="editCustomCodeDialog()"
    [disabled]="!oneOrMoreCustomCodes(selected) || !userCanEdit">Edit</button>
    <button mat-stroked-button color="warn" (click)="removeCustomCode(selected)"
    [disabled]="!oneOrMoreCustomCodes(selected) || !userCanEdit">Delete</button>
  </mat-card-actions>
</mat-card>
</div>

<codes-table
  [vocabularyId]="vocabularyId"
  [state]="state()"
  [filter]="codesFilter"
  [codes]="codes"
  [showTags]="true"
  [allTopics]="allTopics"
  [userCanEdit]="userCanEdit"
  [reviewData]="reviewData"
  (selected)="setSelected($event)"
  (reviewRun)="reviewRun.emit($event)">
</codes-table>
