<div class="toolbox">

  <mat-card appearance="outlined">
    <mat-card-header>
      Filter {{numCodes(vocabularyId)}} codes
      @if (isFilterActive(codesFilter)) {
      ({{numFilteredCodes}} filtered)
      }
    </mat-card-header>
    <mat-card-actions class="filters">
      <mat-form-field class="dense codes-filter"
        matTooltip="Enter a string to filter the codes displayed in the table by code or term.">
        <input matInput [ngModel]="codesFilter.text" (ngModelChange)="setFilterText($event)"
          placeholder="🔍 By term or code" size="10" class="input-element">
      </mat-form-field>
      <button mat-stroked-button (click)="showTagsFilterDialog()"
        matTooltip="Filter the codes displayed in the table by tag." class="input-element">
        By tag
        @if (codesFilter.tags.length) {
        ({{codesFilter.tags.length}})
        }
      </button>
      <span matTooltip="Clear the filter.">
        <button mat-icon-button matSuffix class="clear-button" (click)="clearFilter()"
          [disabled]="!isFilterActive(codesFilter)">
          <mat-icon>backspace</mat-icon>
        </button>
      </span>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header
      matTooltip="A maximum of {{PAGE_SIZE}} codes is displayed in one page. Use the buttons to navigate to other pages when there are more.">
      Page {{pagesInfo}}
    </mat-card-header>
    <mat-card-content>
      <mat-paginator #paginator (page)="setPageInfo($event)" [hidePageSize]="true" [pageSizeOptions]="[PAGE_SIZE]"
        showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      Coding system
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button [matMenuTriggerFor]="menu">
        {{vocabularyId}}@if (isCustom(vocabularyId)) {
        *
      }
      <mat-icon fontIcon="expand_more"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @for (vocId of vocabularyIds; track vocId) {
        <button (click)="selectVocabulary(vocId)" mat-menu-item>
          {{vocId}}@if (isCustom(vocId)) {
          *
        }
      </button>
    }
  </mat-menu>
</mat-card-actions>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    {{selected.length}} selected code{{selected.length == 1 ? '' : 's'}}
  </mat-card-header>
  <mat-card-actions>
    <button mat-stroked-button (click)="editTags(selected)" [disabled]="selected.length == 0 || !userCanEdit">Tag</button>
    <button mat-stroked-button (click)="enableCodes(selected)"
    [disabled]="selected.length == 0 || !userCanEdit">Enable</button>
    <button mat-stroked-button (click)="disableCodes(selected)"
    [disabled]="selected.length == 0 || !userCanEdit">Disable</button>
    <button mat-stroked-button (click)="showDescendants(selected)"
    [disabled]="selected.length == 0">Descendants</button>
    <button mat-stroked-button (click)="table.highlightNextSelected()" [disabled]="selected.length == 0"
    matTooltip="Scroll to the next selected code.">Show next</button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined" class="custom-codes-operations">
  <mat-card-header>
    Custom codes
  </mat-card-header>
  <mat-card-actions>
    <!-- <button mat-stroked-button color="primary" (click)="selectAllCustomCodes()">Select</button> -->
    @if (false) {
      <button mat-stroked-button (click)="importCustomCodeDialog()" matTooltip="TODO">Import</button>
    }
    <button mat-stroked-button (click)="addCustomCodeDialog()" [disabled]="!userCanEdit">Create</button>
    <button mat-stroked-button (click)="editCustomCodeDialog()"
    [disabled]="!oneOrMoreCustomCodes(selected) || !userCanEdit">Edit</button>
    <button mat-stroked-button color="warn" (click)="removeCustomCode(selected)"
    [disabled]="!oneOrMoreCustomCodes(selected) || !userCanEdit">Delete</button>
  </mat-card-actions>
</mat-card>
</div>

<codes-table
  [vocabularyId]="vocabularyId"
  [state]="state()"
  [filter]="codesFilter"
  [codes]="codes"
  [showTags]="true"
  [allTopics]="allTopics"
  [userCanEdit]="userCanEdit"
  [reviewData]="reviewData"
  (selected)="setSelected($event)"
  (reviewRun)="reviewRun.emit($event)"
  [conceptsShowNavigate]="true"
  [paginator]="paginator">
</codes-table>
