<span class="code" [class.disabled]="!code.enabled" [class.custom]="code.custom"
    [matTooltip]="code.term" [matTooltipDisabled]="showTerm" matTooltipPosition="right"
    (mouseenter)="hovered = true" (mouseleave)="hovered = false">
  <span class="wording">
    <span class="code-id">{{code.id}}@if (code.custom) {<span class="custom-marker">*</span>}</span>
    @if (showTagIndication && code.tag != null) {<mat-icon class="tag-indicator tag-{{code.tag}}" fontIcon="label"></mat-icon>}
    @if (showTerm) {<span class="term"> {{code.term}}</span>}
  </span>
  @if (showNavigate && vocId) {
    <a [routerLink]="[]" [fragment]="'codes/' + vocId + '/' + code.id" class="code-navigate" [class.visible]="hovered" matTooltip="Click to view code"><mat-icon>open_in_new</mat-icon></a>
  }
</span>
