<menu-banner>
  <!-- <mat-icon>dataset</mat-icon> -->
  Projects
</menu-banner>

<div class="center-content">
  <div class="toolbox">

    <mat-card appearance="outlined" *ngIf="user?.admin">
      <mat-card-actions>
        <button (click)="openDialog(newProjectDialog)" mat-button>Create new project</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <table mat-table [dataSource]="projects">
    <tr mat-header-row *matHeaderRowDef="['name', 'role']"></tr>
    <tr mat-row *matRowDef="let project; columns: ['name', 'role'];"></tr>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let project">
        <a [routerLink]="['/project', project.name]" mat-button>
          {{project.name}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Your role</th>
      <td mat-cell *matCellDef="let project">
        {{project.role ?? "-"}}
      </td>
    </ng-container>
  </table>
</div>

<ng-template #newProjectDialog>
  <h2 matDialogTitle>Create new project</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input #projectName matInput>
    </mat-form-field>
    <p *ngIf="createProjectError">{{createProjectError}}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeCreateProject()" matDialogClose>Cancel</button>
    <button mat-raised-button (click)="createProject(projectName.value)" color="primary">Create</button>
  </mat-dialog-actions>
</ng-template>