<h1 mat-dialog-title>Download codelist ({{numMappings}} mapping{{numMappings == 1 ? '' : 's'}})</h1>

<div class="inputs" mat-dialog-content>
    <mat-form-field>
        <mat-label>Format</mat-label>
        <mat-select #format required value="csv_compat">
            <!-- <mat-option value="csv">Codes</mat-option> -->
            <mat-option value="csv_compat">Codelist</mat-option>
            <mat-option value="csv_meta">Metadata</mat-option>
        </mat-select>
        <mat-hint *ngIf="format.value == 'csv_compat'">For existing workflows, without meta
            data (use format "Metadata" to download that separately)</mat-hint>
    </mat-form-field>
    <p *ngIf="data.includeDescendants == IncludeDescendants.PerMapping">
        Descendant codes are included per mapping according to the mapping configuration.
    </p>
    <p *ngIf="data.includeDescendants != IncludeDescendants.PerMapping">
        Descendant codes are
        <span *ngIf="data.includeDescendants == IncludeDescendants.No">not</span>
        included (according to the mapping configuration).
    </p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="close()">Cancel</button>
    <button mat-raised-button enabled="enabled" (click)="download(format.value)" matDialogClose
        color="primary"><mat-icon>download</mat-icon>Download</button>
</div>
