<mat-toolbar>
  <app-navigation [projectName]="projectName"></app-navigation>
  <ng-container *ngIf="mapping != null">
    <button
      (click)="undo()"
      [disabled]="mapping.undoStack.length == 0"
      matTooltip="{{undoTooltip()}}"
      mat-icon-button>
      <mat-icon>undo</mat-icon>
    </button>
    <button
      (click)="redo()"
      [disabled]="mapping.redoStack.length == 0"
      matTooltip="{{redoTooltip()}}"
      mat-icon-button>
      <mat-icon>redo</mat-icon>
    </button>
    <span matTooltip="Save changes">
      <button
        (click)="openDialog(saveDialog)"
        [disabled]="mapping.start == null || (!saveRequired && mapping.undoStack.length == 0) || !(projectRole == 'Owner' || projectRole == 'Editor')"
        mat-icon-button>
        <mat-icon>save<span *ngIf="saveRequired">*</span></mat-icon>
      </button>
    </span>
  </ng-container>
  <span matTooltip="{{titleTooltip()}}">
    Mapping:&nbsp;<span class="name" (click)="dump()">{{mappingName}}</span><span *ngIf="saveRequired">*</span>
    (you are {{projectRole?.toLowerCase() ?? "not a member"}})
  </span><mat-error *ngIf="error">&nbsp;Error: {{error}}</mat-error>
  <span class="menu-spacer"></span>
  <app-loggedin></app-loggedin>
</mat-toolbar>

<mat-tab-group *ngIf="mapping" [selectedIndex]="selectedIndex">

  <mat-tab label="Mapping">
    <div *ngIf="mapping.start != null">
      <mapping-tab
        [mapping]="mapping"
        [mappingShortkey]="mappingShortkey"
        [serverInfo]="serverInfo"
        [vocabularies]="vocabularies"
        [canDownload]="!!(mappingShortkey && !saveRequired && mapping.undoStack.length == 0)"
        [projectRole]="projectRole"
        (run)="run($event)"></mapping-tab>
    </div>

    <div *ngIf="mapping.start == null" class="center-content spaced">
      <mat-card>
        <mat-card-header>
          <h3>Start mapping</h3>
        </mat-card-header>
        <mat-card-content>
          <p>Start the mapping with a textual description of the event.</p>
          <p>Enter or paste the textual description on the left, click
            "Search concepts", and review the list of concepts on the right. 
            Then, click "Start with selected concepts" to start the mapping, 
            or revise the textual description by clicking "Edit text".</p>
          <indexer
            [locked]="false"
            [vocIds]="serverInfo.defaultVocabularies"
            [typesInfo]="typesInfo(serverInfo)"
            (confirmedIndexing)="setStartIndexing($event)"
            confirmLabel="Start with selected concepts"></indexer>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Concepts" [disabled]="mapping.start == null">
    <concepts
      *ngIf="!mapping.isEmpty()"
      [mapping]="mapping"
      [allTopics]="allTopics"
      [vocabularies]="vocabularies"
      [canEdit]="projectRole == 'Owner' || projectRole == 'Editor'"
      (run)="run($event)"
      (reviewRun)="reviewRun($event)"></concepts>
  </mat-tab>

  <mat-tab label="Codes" [disabled]="mapping.start == null">
    <codes
      *ngIf="!mapping.isEmpty() && mapping.numVocabularies() > 0"
      [mapping]="mapping"
      [allTopics]="allTopics"
      [canEdit]="projectRole == 'Owner' || projectRole == 'Editor'"
      (run)="run($event)"
      (reviewRun)="reviewRun($event)"></codes>
  </mat-tab>

  <mat-tab label="Vocabularies" [disabled]="mapping.start == null">
    <vocabularies
      *ngIf="!mapping.isEmpty()"
      [canEdit]="projectRole == 'Owner' || projectRole == 'Editor'"
      [mapping]="mapping"
      (run)="run($event)"></vocabularies>
  </mat-tab>

  <!-- <mat-tab label="Review"> -->
  <!--   <reviews -->
  <!--     *ngIf="allTopics != null && !allTopics.isEmpty()" -->
  <!--     [topics]="topics.byConcept" -->
  <!--     [userIsEditor]="true" -->
  <!--     [concepts]="mapping.concepts" -->
  <!--     (run)="reviewRun($event)"></reviews> -->
  <!-- </mat-tab> -->
  <mat-tab label="Versions" [disabled]="mapping.start == null">
    <history
      *ngIf="mappingShortkey && mapping && !mapping.isEmpty()"
      [mappingShortkey]="mappingShortkey"
      [mapping]="mapping"
      [revisions]="revisions"
      [version]="version"
      [projectRole]="projectRole">
    </history>
  </mat-tab>
</mat-tab-group>

<ng-template #saveDialog>
  <h2 matDialogTitle>Save mapping</h2>
  <mat-dialog-content>
    <mat-form-field style="width:100%;">
      <mat-label>Summary</mat-label>
      <textarea rows="5" cols="30" #summary matInput></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>
    <button
      mat-raised-button
      [disabled]="!summary.value"
      (click)="save(summary.value)"
      matDialogClose
      color="primary">Save</button>
  </mat-dialog-actions>
</ng-template>
