.conceptCode {
  font-size: small;
}

.mat-mdc-cell {
  vertical-align: top;
}

$pad: calc((var(--mdc-checkbox-state-layer-size) - 18px) / 2);

.tag, .code, .concept, .comment {
    padding: $pad;
}

th.select {
    width: 0px;
}
