.conceptCode {
  font-size: small;
}

.mat-mdc-cell {
  vertical-align: top;
}

$pad: calc((var(--mat-checkbox-state-layer-size) - 18px) / 2);

.tag, .code, .concept, .comment {
    padding: $pad;
}

th.select {
    width: 0px;
}

.table-container {
  width: 100%;
  height: calc(100vh - 18em);
  overflow: auto;
}

table {
  width: 100%;
}