

.table-container {
    width: 100%;
    height: calc(100vh - 22em);
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .row-link:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
  }