@use '@angular/material' as mat;

.table-container {
  width: 100%;
  height: calc(100vh - 22em);
  overflow: auto;
}

table {
  width: 100%;
}

.row-link:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}

::ng-deep .tagsMenu {
  padding: 0.5em;
}

.tag.type {
  color: red;
}
.tag.system {
  color: green;
}
::ng-deep .inputForm {
  @include mat.form-field-density(-2);
}


    .form-group {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    
    mat-form-field {
      height: 40px;
    }
    
    button.mat-button {
      height: 40px;
    }