<div class="toolbox">

    <mat-card appearance="outlined">
        <mat-card-header matTooltip="Filter the mappings in the table">
            Filter mappings ({{hasFilters() ? this.dataSource.filteredData.length : 'all'}})
        </mat-card-header>
        <mat-card-actions class="filters">
            <mat-form-field appearance="fill" class="filterOnName" style="display: inline">
                <input matInput placeholder="On&nbsp;name" [(ngModel)]="filterOnName" (keyup)="applyFilter()" size="10"
                    class="input-element">
            </mat-form-field>
            <button mat-raised-button matTooltip="Filter mappings by their properties" [matMenuTriggerFor]="menu"
                class="input-element">On&nbsp;metadata<mat-icon *ngIf="this.filterOnProperties['system']">filter_alt</mat-icon></button>
            <mat-menu #menu="matMenu" class="tagsMenu">
                <div *ngFor="let tag of allProperties | keyvalue">
                    {{tag.key}}s:
                    <mat-chip-listbox [ngModel]="filterOnProperties[tag.key]"
                        (ngModelChange)="filterOnProperties[tag.key] = $event" (click)="$event.stopPropagation()"
                        (change)="applyFilter()">
                        <mat-chip-option *ngFor="let name of tag.value" [value]="name" class="tag {{name}}">
                            {{name}}
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>
            </mat-menu>
            <button mat-raised-button matTooltip="Clear filters" (click)="clearFilters()">Clear</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header matTooltip="Select mappings using the checkboxes on the left to edit">
            Edit mapping ({{selectedFilteredMappings.length}} selected)
        </mat-card-header>
        <mat-card-actions>
            <span matTooltip="Rename one selected mapping (only for owners)">
                <button [disabled]="!userCanRename || selectedFilteredMappings.length != 1"
                    (click)="openDialog(renameDialog)" mat-raised-button>Edit name</button>
            </span>
            <span matTooltip="Edit the metadata of one selected mapping (only for owners)">
                <button [disabled]="!userCanRename || selectedFilteredMappings.length != 1"
                    (click)="openMetaDataDialog(selectedFilteredMappings[0])" mat-raised-button>Edit metadata</button>
            </span>
            <button class="tool-delete" (click)="deleteSelectedMappings()"
                [disabled]="!userCanCreate || selectedFilteredMappings.length == 0" mat-raised-button>Delete</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            New mapping
        </mat-card-header>
        <mat-card-actions>
            <span matTooltip="Create a new mapping (only for owners)">
                <button class="tool-create" (click)="openDialog(createMapping)" [disabled]="!userCanCreate"
                    mat-raised-button>
                    Create
                </button>
            </span>
            <span matTooltip="Import a mapping from a CSV file (only for owners)">
                <button class="tool-import-codelist" (click)="importNew(folderName)" [disabled]="!userCanCreate"
                    mat-raised-button>
                    Import codelist
                </button>
            </span>
        </mat-card-actions>
    </mat-card>
</div>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
        <tr mat-header-row
            *matHeaderRowDef="['select', 'name', 'system', 'type', 'projects', 'status', 'lastModification']; sticky: true"></tr>
        <tr mat-row
            *matRowDef="let mapping; columns: ['select', 'name', 'system', 'type','projects', 'status', 'lastModification'];"
            [routerLink]="mappingLink(mapping)" matTooltip="Definition: {{mapping.meta?.definition ?? 'n/a'}}" class="row-link"></tr>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox matTooltip="Select/deselect all filtered mappings"
                    (change)="$event ? toggleSelectAll() : null"
                    [checked]="selection.hasValue() && isAllFilteredSelected()"
                    [indeterminate]="selection.hasValue() && !isAllFilteredSelected()">
                </mat-checkbox>
            </th>
            <td [class.custom-code]="code.custom" mat-cell *matCellDef="let code">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(code) : null"
                    [checked]="selection.isSelected(code)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="system">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                System<mat-icon class="column-filter-indicator" *ngIf="this.filterOnProperties['system']">filter_alt</mat-icon>
            </th>
            <td mat-cell *matCellDef="let mapping">
                <span>{{mapping.meta.system}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Name<mat-icon class="column-filter-indicator" *ngIf="this.filterOnName">filter_alt</mat-icon>
            </th>
            <td mat-cell *matCellDef="let mapping">
                {{mapping.mappingName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Type<mat-icon class="column-filter-indicator" *ngIf="this.filterOnProperties['type']">filter_alt</mat-icon>
            </th>
            <td mat-cell *matCellDef="let mapping">
                <span>{{mapping.meta.type}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="projects">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Projects<mat-icon class="column-filter-indicator" *ngIf="this.filterOnProperties['projects']">filter_alt</mat-icon>
            </th>
            <td mat-cell *matCellDef="let mapping">
                <span>{{mapping.meta.projects.join(', ')}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="lastModification">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last modification</th>
            <td mat-cell *matCellDef="let mapping">
                <span *ngIf="mapping.lastModification != null">{{localeDate(mapping.lastModification)}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Note</th>
            <td mat-cell *matCellDef="let mapping">
                <span *ngIf="mapping.version == null"
                    matTooltip="From old version of CodeMapper, please open, review and save"> LEGACY</span>
                <span *ngIf="mapping.status == 'IMPORTED'"
                    matTooltip="Automatically imported, please open, review and save"> IMPORTED</span>
            </td>
        </ng-container>
    </table>
</div>

<ng-template #createMapping>
    <h2 matDialogTitle>Create mapping</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <input class="mapping-name" type="text" placeholder="Mapping name" matInput #mappingName>
        </mat-form-field>
        <p>Recommendated format: system, abbreviation, type, and optionally a definition separated by <span
                class="pre">_</span>, for example <span class="pre">I_FLU_COV</span> or <span
                class="pre">I_FLU_COV_Influenca</span>.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose>Cancel</button>
        <button class="create-mapping" mat-raised-button [disabled]="!mappingName.value"
            (click)="newMapping(folderName, mappingName.value, serverInfo.umlsVersion)" matDialogClose
            color="primary">Ok</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #renameDialog>
    <h2 matDialogTitle>Edit name</h2>
    <mat-dialog-content>
        <mat-form-field style="width:100%;">
            <mat-label>Name</mat-label>
            <input type="text" [value]="selection.selected[0].mappingName" #newName matInput>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose>Cancel</button>
        <button mat-raised-button [disabled]="!newName.value || selection.selected.length != 1"
            (click)="renameMapping(selection.selected[0], newName.value)" matDialogClose color="primary">Ok</button>
    </mat-dialog-actions>
</ng-template>