<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  @if (data.subtitle) { <span>{{data.subtitle}}</span> }
  <concepts-table
    #table
    [conceptTags]="{}"
    [concepts]="data.concepts"
    [codes]="data.codes"
    [vocabularies]="data.vocabularies"
    [showCodeTagIndication]="true"
    [allTopics]="data.allTopics"
    [userCanEdit]="false">
  </concepts-table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="table.selection.selected" color="primary" cdkFocusInitial>{{data.action}}</button>
</div>
