<menu-banner [projectName]="folderName">
  <!-- <mat-icon>folder_open</mat-icon> -->
  {{folderName}}
  <span onTheRight>
    <span matTooltip="Export codelists of the selected mappings (no mappings without revisions, they have to be saved before)">
      <button (click)="mappings.openDownloadDialog(selectedFilteredMappings)" [disabled]="!mappings || !mappings.canDownload()" mat-icon-button>
        <mat-icon>download</mat-icon>
      </button>
    </span>
  </span>
</menu-banner>

<div class="center-content spaced">
  <p>You are {{(role ?? "not member").toLowerCase()}} of this folder.</p>
  <mat-tab-group>
    <mat-tab label="Mappings">
      <folder-mappings *ngIf="user && role" [user]="user" [role]="role"></folder-mappings>
    </mat-tab>
    <mat-tab label="Members">
      <folder-users *ngIf="folderName && user && role" [folderName]="folderName" [user]="user" [role]="role"></folder-users>
    </mat-tab>
  </mat-tab-group>
</div>