<div class="inputs">
    <mat-checkbox #includeDescendants matTooltip="For each code, include all codes that are more specific">
        Include descendant codes
    </mat-checkbox>
    <mat-checkbox #compatibilityFormat matTooltip="Format the code list for compatibility with existing workflows">
        Compatibility format for existing workflows (without meta data)
    </mat-checkbox>
    <button mat-raised-button enabled="enabled" (click)="download(includeDescendants.checked, compatibilityFormat.checked)" matDialogClose
        color="primary"><mat-icon>download</mat-icon>Download</button>
</div>