<div class="center-content spaced">

  <mat-accordion>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Configuration</mat-panel-title>
        <mat-panel-description>Configurations that change the codelist</mat-panel-description>
      </mat-expansion-panel-header>

      <section>
        <mat-checkbox [checked]="state.mapping.meta.includeDescendants" (click)="toggleIncludeDescendants()">
          Include descendant codes
        </mat-checkbox>
        <p>The mapping needs to be saved after changes.</p>
      </section>

      <section>
        <h4>UMLS version</h4>
        <ul>
          <li>Mapping based on UMLS version: <span class="version">{{state.mapping.meta.umlsVersion}}</span></li>
          <li>CodeMapper current UMLS version: <span class="version">{{serverInfo.umlsVersion}}</span></li>
        </ul>
        <p>
          When the UMLS version of the mapping does not correspond the current version used in CodeMapper,
          remap the mapping to update the concept codes using the latest version of the UMLS.
        </p>
        <button
          [disabled]="!userCanEdit || state.mapping.meta.umlsVersion == serverInfo.umlsVersion || state.stacks.hasUndo()"
          (click)="remap()" mat-raised-button color="primary">
          Remap
        </button>
        @if (state.stacks.hasUndo()) {
          <p>The mapping must be saved.</p>
        }
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Metadata</mat-panel-title>
        <mat-panel-description>Descriptive information about the mapping</mat-panel-description>
      </mat-expansion-panel-header>
      <table>
        <tr>
          <td>Abbreviation:</td>
          <td>{{info.mappingName}}</td>
        </tr>
        <tr>
          <td>Type:</td>
          <td>{{info.meta.type}}</td>
        </tr>
        <tr>
          <td>System:</td>
          <td>{{info.meta.system}}</td>
        </tr>
        <tr>
          <td>Definition:</td>
          <td>{{info.meta.definition}}</td>
        </tr>
        <tr>
          <td>Projects:</td>
          <td>{{info.meta.projects.join(', ')}}</td>
        </tr>
      </table>
      <button mat-raised-button (click)="editMappingMeta()">Edit</button>

      <!--
      <h4>Allowed tags</h4>
      <p *ngIf="mapping.meta.allowedTags.length == 0">None.</p>
      <ul class="tags-list">
        <li *ngFor="let tag of mapping.meta.allowedTags"><mapping-tag [tag]="tag"></mapping-tag></li>
      </ul>
      <h4>Ignored term types</h4>
      <p *ngIf="mapping.meta.ignoreTermTypes.length == 0">None.</p>
      <ul class="termTypeList">
        <li *ngFor="let tty of mapping.meta.ignoreTermTypes">{{tty}}</li>
      </ul>
      <h4>Ignored semantic types</h4>
      <p *ngIf="mapping.meta.ignoreSemanticTypes.length == 0">None.</p>
      <ul>
        <li *ngFor="let sty of mapping.meta.ignoreSemanticTypes">{{sty}}</li>
      </ul>
      -->
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Versions</mat-panel-title>
        <mat-panel-description>
          All versions of the mapping
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span>Use the button on the right to export the codelist at that version.</span>
      @if (!info || revisions.length == 0) {
        <span>(The mapping must be saved first.)</span>
      }
      @if (info && info.mappingShortkey && state.mapping && !state.mapping.isEmpty()) {
        <history [projectName]="projectName" [meta]="info.meta"
          [info]="info" [state]="state" [revisions]="revisions" [latestVersion]="latest?.version ?? null"
          [projectRole]="projectRole" [userCanDownload]="userCanDownload">
        </history>
      }
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Creation</mat-panel-title>
        <mat-panel-description>How the mapping was created</mat-panel-description>
      </mat-expansion-panel-header>
      @if (isIndexing(state.mapping.start)) {
        <div>
          <p>
            The mapping was started with the following event definition form and selected concepts:
          </p>
          <indexer [initialIndexing]="state.mapping.start" [vocIds]="[]" [locked]="true" class="center-content"></indexer>
        </div>
      }
      @if (isCsvImport(state.mapping.start)) {
        <div>
          <p>
            The mapping was started by importing a mapping from the following CSV data:
          </p>
          <pre class="csv-import">{{state.mapping.start.csvContent}}</pre>
        </div>
      }
      @if (isEmptyStart(state.mapping.start)) {
        <div>
          <p>
            The mapping was initially empty.
          </p>
        </div>
      }
    </mat-expansion-panel>
  </mat-accordion>
</div>