mat-card {
  margin-top: 2ex;
}

.version {
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
}

tr {
  vertical-align: top;
}

pre.description {
  max-height: 20em;
  margin-top: 0;
  width: 100%;
  overflow-y: scroll;
  font-family: "Roboto-Regular";
  padding-left: 1em;
  border-left: 2px solid #acacac;
}

.csv-import {
  width: 100%;
  height: 50ex;
  overflow: auto;
}

.download-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tags-list {
  list-style-type: none;
}

.termTypeList {
  display: inline;
  list-style: none;
}

.termTypeList li {
  display: inline;
}

.termTypeList li:after {
  content: ", ";
}

.termTypeList li:last-child:after {
  content: "";
}