<div class="title">
  <h2 class="heading" mat-dialog-title>{{data.heading}}</h2>
  <button (click)="close()" mat-icon-button color="primary" align="end" matTooltip="Close review dialog">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="form-fields">
  @if (getTopics(); as topics) {
    <reviews
      [topicsInfo]="topics"
      [cui]="data.cui"
      [voc]="data.voc"
      [code]="data.code"
      [data]="data.data"
      [userIsEditor]="data.userIsEditor"
      (run)="data.run.emit($event)">
    </reviews>
  }
</mat-dialog-content>
