<a mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Access your projects and mappings">
  <mat-icon>menu</mat-icon>
</a>
<mat-menu #menu="matMenu">
  <a
    routerLink="/projects"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="navigation-button"
    mat-menu-item>
    <mat-icon class="marker">chevron_right</mat-icon>All projects
  </a>
  <a
    *ngFor="let proj of projects | async"
    [class]='{active: proj.name == projectName}'
    routerLink="/project/{{proj.name}}"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="navigation-button"
    mat-menu-item>
    <mat-icon class="list">remove</mat-icon><mat-icon class="marker">chevron_right</mat-icon>Project: {{proj.name}}
  </a>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="navigation-button"
    mat-menu-item>
    <mat-icon class="marker">chevron_right</mat-icon>Welcome &amp; info
  </a>
  <a
    routerLink="/news"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="navigation-button"
    mat-menu-item>
    <mat-icon class="marker">chevron_right</mat-icon>News
  </a>
</mat-menu>
