<mat-toolbar>
  <app-navigation [projectName]="projectName"></app-navigation>
  <span>Project: {{projectName}} (you are {{(role ?? "not member").toLowerCase()}})</span>
  <span class="menu-spacer"></span>
  <app-loggedin></app-loggedin>
</mat-toolbar>
<div class="center-content spaced">

  <mat-tab-group>

    <mat-tab label="Mappings">
      <div class="toolbox">
        <mat-card>
          <mat-card-header>
            New mapping
          </mat-card-header>
          <mat-card-actions>
            <span matTooltip="Create a new mapping (only for project owners)">
              <button (click)="openDialog(createMapping)" [disabled]="role != 'Owner'" mat-raised-button>
                Create
              </button>
            </span>
            <span matTooltip="Import a mapping from a CSV file (only for project owners)">
              <button (click)="importNew(projectName)" [disabled]="role != 'Owner'" mat-raised-button>
                Import CSV
              </button>
            </span>
          </mat-card-actions>
        </mat-card>

        <mat-card>
          <mat-card-header>
            {{selected.selected.length}} selected mapping{{selected.selected.length == 1 ? '' : 's'}}
          </mat-card-header>
          <mat-card-actions>
            <span matTooltip="Rename one selected mapping (only for project owners)">
              <button mat-raised-button [disabled]="role != 'Owner' || selected.selected.length != 1"
                (click)="openDialog(renameDialog)">Rename</button>
            </span>
            <span matTooltip="Download all mappings of the project">
              <button mat-raised-button (click)="openDialog(downloadDialog)"
                [disabled]="selected.selected.length == 0 || !(role == 'Owner' || role == 'Editor')">
                Download <mat-icon>download</mat-icon>
              </button>
            </span>
          </mat-card-actions>
        </mat-card>
      </div>

      <table mat-table [dataSource]="mappings">
        <tr mat-header-row *matHeaderRowDef="['select', 'name']"></tr>
        <tr mat-row *matRowDef="let mapping; columns: ['select', 'name'];"></tr>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleSelectAll() : null"
              [checked]="selected.hasValue() && isAllSelected()"
              [indeterminate]="selected.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td [class.custom-code]="code.custom" mat-cell *matCellDef="let code">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selected.toggle(code) : null"
              [checked]="selected.isSelected(code)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Mapping name</th>
          <td mat-cell *matCellDef="let mapping">
            <a [routerLink]="mappingLink(mapping)" mat-menu-item>
              {{mapping.mappingName}}
            </a>
          </td>
        </ng-container>
      </table>
    </mat-tab>

    <mat-tab label="Members">
      <div class="toolbox">
        <mat-card *ngIf="user?.admin || role == 'Owner'">
          <mat-card-header>Set user role</mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <mat-label>User</mat-label>
              <mat-select #addUserRoleName>
                <mat-option *ngFor="let user of allUsers" value="{{user.username}}">
                  {{user.username}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Role</mat-label>
              <mat-select #addUserRoleRole>
                <mat-option value="">Remove from project</mat-option>
                <mat-option *ngFor="let role of rolesDomain()" [value]="role">{{role}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button [disabled]="!addUserRoleName.value"
              (click)="addUserRole(addUserRoleName.value, addUserRoleRole.value)">Set</button>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-table [dataSource]="userRoles">
        <tr mat-header-row *matHeaderRowDef="['username', 'email', 'role']"></tr>
        <tr mat-row *matRowDef="let user; columns: ['username', 'email', 'role'];"></tr>
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let userRole">
                {{userRole.user.username}}
            </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let userRole">
                {{userRole.user.email}}
            </td>
        </ng-container>
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let userRole">
              {{userRole.role?.toLowerCase() ?? "-"}}
            </td>
        </ng-container>
      </mat-table>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #createMapping>
  <h2 matDialogTitle>Create mapping</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <input type="text" placeholder="Mapping name" matInput #mappingName>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>
    <button mat-raised-button [disabled]="!mappingName.value"
      (click)="newMapping(projectName, mappingName.value, serverInfo.umlsVersion)" matDialogClose
      color="primary">Ok</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #renameDialog>
  <h2 matDialogTitle>Rename mapping</h2>
  <mat-dialog-content>
    <mat-form-field style="width:100%;">
      <mat-label>New name</mat-label>
      <input type="text" [value]="selected.selected[0].mappingName" #newName matInput>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>
    <button mat-raised-button [disabled]="!newName.value || selected.selected.length != 1"
      (click)="renameMapping(selected.selected[0], newName.value)" matDialogClose color="primary">Ok</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #downloadDialog>
  <h2 matDialogTitle>Download mapping</h2>
  <mat-dialog-content>
    <p>Download selected mapping as a CSV file.</p>
    <mat-checkbox #includeDescendants>Include descendant codes</mat-checkbox>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Cancel</button>
    <button mat-raised-button (click)="download(projectName, includeDescendants.checked, selected.selected)"
      matDialogClose color="primary">Download</button>
  </mat-dialog-actions>
</ng-template>