<span class="concept" [attr.title]="showName ? null : concept.name">
  @if (showName) {
    <span class="conceptName">{{concept.name}}</span>
    <span class="conceptId">({{concept.id}})</span>
  } @else {
    {{concept.id}}
  }
  @if (tag) {
    <mapping-tag [tag]="tag" title="All associated, enabled codes share the same tag"></mapping-tag>
  }
  @if (navFragment) {
    <a [attr.href]="navHref" [attr.data-nav-fragment]="navFragment" class="concept-navigate"
      title="Click to view concept"><mat-icon>open_in_new</mat-icon></a>
  }
</span>
